<div class="full" ng-switch="data.activation_code || '_undefined_'">
  <div ng-switch-when="_undefined_" class="full vcenter hcenter txt">
    <div ng-if="data._id===-1">
      Player has been activated, assign a template.
    </div>
    <div ng-if="data._id" ng-model="data.HTML" js-compile template="data.HTML">
    </div>
  </div>

  <div ng-switch-when="ERROR">
    There is an error in your request
  </div>

  <div ng-switch-default class="full vcenter hcenter activation_box" >
    <div class="activation_code">
      {{ data.activation_code }}
    </div>
    activation code
  </div>
</div>
