<div class="full" ng-switch on="data.template.activation_code" ng-show="show">
  <div ng-switch-when="EXISTS" class="full vcenter hcenter txt">
    <div ng-if="!data.template._id">
      Player has been activated, assign a template.
    </div>
    <div ng-if="data.template._id" js-compile template="data.template.HTML">
    </div>
  </div>

  <div ng-switch-when="ERROR">
    There is an error in your request
  </div>

  <div ng-switch-default class="full vcenter hcenter activation_box" >
    <div class="activation_code">
      {{ data.template.activation_code }}
    </div>
    activation code
  </div>
</div>
